<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>NeuroLAN - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', path='home.css') }}" />
</head>
<body>
  <header>
    <section class="login-message">
      <div class="container">
        <h2>Giriş yaptın!</h2>
        <p>Ancak ne uğruna? Hala hiçbir özelliği yok...</p>
    </div>
  </section>

  <footer>
    <p>© 2025 NeuroLAN. Published under the <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL v3 license</a>.</p>
  </footer>
</body>
</html>
